@charset "UTF-8";

@media screen and (min-width:837px){
    :root{
        --cor1:#2d2d2d;
        --cor2:#1E1E1E;
        --cor3:#454545;
        --cor4:#0085ff;
        --cor5:#006fff;

    
    }
    header{
        font-size: 1.3em;
    }
    header > nav{
        display: flex;
        justify-content: space-around;
    }
    header > nav > section{
        width: 160px;
    }
    section#s1{
        display: none;
    
    }
    #menuFlutuante{
        display: none;
    }
    main{
        position: relative;
    }
    nav#menupc{
        text-shadow: 1px 1px 3px black;
        padding: 8px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px;
        background-color: var(--cor2);
    }
    nav#menupc section#menupcS1{
        width: 79%;
        margin-right: 10px;
    }
    nav#menupc > section  menu{
        margin-left: 30px;
        width: 90%;
    }
    nav#menupc  > section  menu ul{
        display: flex;
        justify-content: space-between;
    }
    nav#menupc > section  menu ul li{
        margin-left: 6px;
        list-style: none;
        
    }
    nav#menupc a{
        font-weight: bolder;
        color: white;
        text-decoration: none;
        transition: border .1s;
    }
    nav#menupc a:hover{
        color: var(--cor5);
        border-bottom: 2px solid white;
        transition: .3s;
    }
    nav#menupc div#pesquisar{
        width: 180px;
        height: 27px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 6px;
        position: relative;
        background-color: black;
    
    }
    nav#menupc div#pesquisar > input{
        top: 50%;
        left: 50%;
        border: 0;
        height: 90%;
        width: 100%;
        margin-top: .4px;
        font-size: 1.2em;
        border-radius: 6px;
        position: absolute;
        text-align: center;
        margin-bottom: 1.1px;
        transform: translate(-50%,-50%);
        background: white url(../img/lupa.png) no-repeat right;
        background-size: contain;
    }
    main{
        display:flex ;
        align-items: baseline;
        justify-content: baseline;
        flex-direction: row;
    }
    div.produtos{
        display: block;
        width: 100%;
        max-height: 400px;
        margin-left: 20px;
        background-color: blue;
    }

}